@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat;
}
.service {
  @apply flex flex-col justify-start items-center p-2 rounded-md  text-white gap-5 hover:bg-main4 transition ease-in-out duration-500;
}

.service {
  &&:hover {
    background-color: rgba(27, 30, 50, 0.8);
    .par {
      background-color: rgba(8, 10, 26, 1);
    }
  }
}

.par {
  @apply h-28 w-28 rounded-full bg-red-500 flex justify-center items-center text-white hover:bg-main transition ease-in-out duration-500;
}

.fright {
  @apply flex flex-col justify-center items-center gap-2;
}

.flexCol {
  @apply flex flex-col justify-center items-center;
}
.flexRow {
  @apply flex justify-center items-center;
}

@keyframes ringg {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #eadd8e;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #eadd8e;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #eadd8e;
  }
}

.ringg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px white;
  border-radius: 50%;
  animation: ringg 2s linear infinite;
  display: block;
}

@keyframes truckShake {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.animate-truck {
  animation: truckShake 0.4s infinite ease-in-out;
}

@keyframes down {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 500px; /* enough height for menu */
    opacity: 1;
  }
}


@keyframes goup {
  0% {
    max-height: 500px; /* enough height for menu */
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.menuDown {
  overflow: hidden;
  animation: down 0.5s ease-in-out forwards;
}

.menuUp {
  overflow: hidden;
  animation: goup 0.5s ease-in-out forwards;
}


input[type="radio"] {
  accent-color: rgba(8, 10, 26, 1); /* Change dot to red */
}
